<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Homepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/HeaderStyle.css' %}">
</head>
<body>
    <div id="page">
        <header class="header-bar">
            <div class="header-container0">
                <div class="nav-container">
                    <nav class="menu-content">
                        <ul class="menu" role="menu">
                            <li class="menu-item" id="menu" role="menuitem">Menu</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-container1">
                <div class="header-img-container">
                    <img class="uon-logo" src="{% static 'images/uon-top-left-logo.png' %}" alt="University of Nottingham Moodle">
                </div>
                <div class="nav-container">
                    <nav class="menu-content">
                        <ul class="menu" role="menu">
                            <li class="menu-item" id="home" role="menuitem">Home</li>
                            <li class="menu-item" id="modules" role="menuitem">My Modules</li>
                            <li class="menu-item" id="more" role="menuitem">More</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="Profile">
                <div class="nav-container">
                    <nav class="menu-content">
                        <ul class="menu" role="menu">
                            <li class="menu-item" id="profile" role="menuitem">Profile</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="main">
            <h1>Course Selection Guide</h1>
            <ol>
                <li>
                    <p>Go to the <a href="../../../homepage/" target="_blank">Home Page</a>.</p>
                </li>
                <li>
                    <p>In the filter bar, select the desired tags:</p>
                    <ul>
                        <li>School</li>
                        <li>Campus</li>
                        <li>Faculty</li>
                        <li>Code</li>
                        <li>Year</li>
                        <li>Semester</li>
                    </ul>
                    <p>Or, enter the desired keyword in the Title bar.</p>
                </li>
                <li>
                    <p>Click the 'Search' button to view the available courses.</p>
                </li>
            </ol>
        </div>
        <footer class="footer">
            <p>Powered by Shuhai Zhang</p>
        </footer>
    </div>
    {% load static %}
    <script
            type="text/javascript"
            charset="utf-8"
            src="{% static 'js/HeaderInit.js' %}"
    ></script>
</body>
</html>