body {
    margin: 0;
    font-family: Arial,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #FDFBF9;
}

div {
    display: block;
    unicode-bidi: isolate;
}

#page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 2rem !important;
    margin-top: 0 !important;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#page-container{
    padding: 3rem;
    background-color: #FDFBF9;
    margin-bottom: 2rem;
    box-shadow: 0 .5rem 1rem rgba(16, 38, 59, .15);
}

.logo-div{
    display: flex;
    justify-content: left;
    margin-bottom: 3rem;
}

#uon-logo{
    max-height: 8.125rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.form-div{
    display: flex;
    margin-bottom: 1rem;
}

.form-div label{
    display: none;
    margin: 0;
    padding: 0;
}

.form-div input{
    display: block;
    padding: .5rem 1rem;
    line-height: 1.5;
    width: 100%;
    margin: 0;
}

#role{
    display: block;
    appearance: none;
    padding: .5rem 1rem;
    line-height: 1.5;
    width: 100%;
    margin: 0;
}

#role:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #10263B;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .9375rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #FDFBF9;
    background-color: #10263B;
    border-color: #10263B;
}

.btn-primary:hover {
    background-color: rgba(16, 38, 59, 0.82);
    border-color: rgba(16, 38, 59, 0.82);
}

#code{
    width: 60%;
}

.btn-lg {
    margin-left: 4px;
    min-width: fit-content;
}