a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #10263B;
}

.courses-div{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#courses article{
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.course{
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
}

div.CourseButtons{
    display: flex;
    padding-top: 5px;
}

div.CourseButtons button{
    width: 15%;
    min-width: fit-content;
    border: none;
    background-color: silver;
}

div.left-flex button{
    margin-left: 0;
    margin-right: 10px;
}

div.right-flex{
    margin-left: auto !important;
}

div.right-flex button{
    margin-left: 10px;
    margin-right: 0;
}

div.CourseButtons button:hover{
    background-color: rgba(192, 192, 192, 0.5);
}

@media (max-width: 660px) {
    #courses article{
        padding: 5px 0;
        width: 100%;
    }
}